jb-textarea.carbon-style {
    display: block;
    width: 100%;
    --jb-textarea-bg-color: var(--jb-surface);
    --jb-textarea-bg-color-disabled: var(--jb-surface-hover);
    --jb-textarea-border-color: var(--jb-border-color);
    --jb-textarea-border-color-focus: var(--jb-primary);
    --jb-textarea-border-radius: 0;
    --jb-textarea-border-width: 1px;
    --jb-textarea-border-bottom-width: 1px;
    --jb-textarea-border-bottom-width-focus: 2px;
    --jb-textarea-box-shadow-focus: 0 0 0 1px var(--jb-primary);
    --jb-textarea-label-color: var(--jb-text-primary);
    --jb-textarea-label-font-weight: 600;
    --jb-textarea-value-color: var(--jb-text-contrast);
    --jb-textarea-value-color-disabled: #8d8d8d;
    --jb-textarea-placeholder-color: #8d8d8d;
    --jb-textarea-message-color: var(--jb-text-secondary);
    --jb-textarea-message-color-error: #fa4d56;
    --jb-textarea-label-margin: 0 0 0.375rem;
    --jb-textarea-message-padding: 0.375rem 0 0;
}

jb-textarea.carbon-style::part(label),
jb-textarea.carbon-style::part(message) {
    text-transform: uppercase;
    letter-spacing: 0;
}

jb-textarea.carbon-style:state(invalid)::part(textarea-box) {
    border-color: #fa4d56;
}
